body {
	background-color: #eee;
}

#header {
	width: 960px;
	min-height: 100px;
	margin: 5px auto 5px;
	border: 1px solid #000;
	background-color: #fff;
}

#content {
	width: 960px;
	min-height: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	background-color: #fff;
}

#content div.content_wrapper {
	margin: 5px;
	min-height: 490px;
	border: 1px solid #000;
}

#content_box {
	width: 67%;
	margin: 5px 5px;
	float: left;
	min-height: 475px;
	border: 1px solid #000;
}

#sidebar_box {
	width: 30%;
	margin: 5px 5px;
	float: right;
	min-height: 475px;
	border: 1px solid #000;
}

#footer {
	width: 960px;
	min-height: 100px;
	margin: 5px auto 5px;
	border: 1px solid #000;
	background-color: #fff;
}

/* CSS Drop-down menu */

#nav_menu {
	width: 960px;
	margin: 0 auto 5px;
	min-height: 24px;
	border: 1px solid #000;
}

/* LEVEL ONE */
ul.dropdown { position: relative; }
ul.dropdown li { font-weight: bold; float: left; zoom: 1; background: #ccc; }
ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
ul.dropdown li a { 
	display: block; 
	padding: 4px 8px; 
	border-right: 1px solid #333;
	color: #222; 
}
ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a { color: black; }

/* LEVEL TWO */
ul.dropdown ul { 
	width: 220px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
}

ul.dropdown ul li { 
	font-weight: normal; 
	background: #f6f6f6; 
	color: #000; 
	border-bottom: 1px solid #ccc; 
	float: none; 
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{ 
	border-right: none; 
	width: 100%; 
	display: inline-block; 
} 

/* LEVEL THREE */
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }